body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.88em;
  padding: 2px 4px;
  background: #eee;
  color: #e7542f;
  border-radius: 2px;
}

p, b, strong {
  display: block;
  margin: 1em 0;
}

i {
  color: #2f7fe7;
}

#root {
  width: calc(100% - 16px);
  max-width: 960px;
  margin: 0 auto;
}